<div class="topSpace container">

    <div class="row">

        <div class="col-md-3">
            <br />
            <div class="list-group" du-scroll-container="container">
                <a href="#" class="list-group-item active">About Us</a>
                <a href="#section-1" class="list-group-item" du-smooth-scroll du-scrollspy>Leadership Team</a>
                <a href="#section-2" class="list-group-item" du-smooth-scroll du-scrollspy>Our Difference</a>
                <a href="#section-3" class="list-group-item" du-smooth-scroll du-scrollspy>Our Latest Work</a>
            </div>
        </div>

        <div class="col-md-9">

            <div class="thumbnail">
                <img class="img-responsive" src="/modules/core/img/elevated-PT1.jpg" alt="">
                <div class="caption-full">
                    <h4><a href="#">About Us</a></h4>
                    <p>MB Southeast has over a decade of experience with the multifamily construction industry.  All employees are certified Post Tension installers and have experience with conventional slabs as well as many other concrete applications you made need on your jobsite.   We also have the necessary OSHA  training, first aid, and several other industry certifications.</p>
                </div>
            </div>
            <div du-scroll-container>
                <section id="section-1">
                    <div class="row">
                        <div class="col-md-12">
                            <h4>Where We Work</h4>
                            <p>While the home office is in Gastonia, North Carolina, MB Southeast works throughout the southeastern United States.  We will work with your superintendents to ensure that your schedule is maintained.  We have taken the steps necessary to ensure that our crews and suppliers will be able to support us and your project.</p>
                        </div>
                    </div>
                </section>
                <section id="section-2">
                    <div class="row">
                        <div class="col-md-12">
                            <h4>What We Can Offer</h4>
                            <p>We provide full support for Post Tension and conventional slabs from engineering through installation.  We are experienced with basement walls, retaining walls, accessory buildings, and many other concrete applications for your jobsites.</p>
                        </div>
                    </div>
                </section>
                <section id="section-3">
                    <div class="row">
                        <div class="col-md-12">
                            <h4>Our Methods</h4>
                            <p>Our goal is to provide superior concrete contracting services while at the same time exceeding all of your customer service expectations.  We use the latest software and methods to produce estimates in a timely fashion, so that the general contractor can then provide an accurate estimate to the project owner.</p>
                            <p>When it is time to execute, MB Southeast will stay in constant communication with field personnel to ensure that the schedule is met so that the rest of the project can continue on time.</p>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>
