<section class="topSpace container">
	<div class="page-header">
		<h1>Contact Form</h1>
	</div>
	<div class="row">
		<div class="col-md-6">
			<form name="contactForm"class="form-horizontal" novalidate>
				<div class="form-group">
					<label for="exam">First Name</label>
					<div class="controls">
						<input name="title" type="text" data-ng-model="title" id="title" class="form-control" placeholder="First Name" required>
					</div>
				</div>
				<div class="form-group">
					<label for="exam">Last Name</label>
					<div class="controls">
						<input name="title" type="text" data-ng-model="title" id="title" class="form-control" placeholder="Last Name" required>
					</div>
				</div>
				<div class="form-group">
					<label for="exam">Email</label>
					<div class="input-group">
						<div class="input-group-addon">@</div>
						<input name="title" type="text" data-ng-model="title" id="title" class="form-control" placeholder="email" required>
					</div>
				</div>
				<div class="form-group">
					<label for="exam">Comment</label>
					<div class="controls">
						<textarea name="title" type="text" data-ng-model="title" id="title" class="form-control" placeholder="Title" required></textarea>
					</div>
				</div>
				<div class="form-group">
					<input type="submit" class="btn btn-default">
				</div>
			</form>
		</div>  
		<div class="col-md-6">
			<img src="/modules/core/img/home/Home small 1 of 3.jpg" class="img-thumbnail">
		</div>
	</div>      
</section>