<section>
    <div class="topSpace container">

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Green Technology
                </h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-7">
                <a href="#">
                    <img class="img-responsive" src="/modules/core/img/greentech/Green Tech Soil.jpg" alt="">
                </a>
            </div>
            <div class="col-md-5">
                <h3>Simplifying Less Favorable Soil Conditions</h3>
                <p>Post Tension can be used on many types of soils and conditions.  In instances where soil conditions are not ideal, using Post Tension can save money by avoiding costly excavation and pad preparations..</p>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Project Two -->
        <div class="row">
            <div class="col-md-7">
                <a href="#">
                    <img class="img-responsive" src="/modules/core/img/greentech/Green Tech Materials .jpg" alt="">
                </a>
            </div>
            <div class="col-md-5">
                <h3>Less Material Translates to Lower Costs</h3>
                <p> Post Tension design typically uses much less concrete and steel than conventional applications.  This direct correlates to less overall costs.</p>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Project Three -->
        <div class="row">
            <div class="col-md-7">
                <a href="#">
                    <img class="img-responsive" src="/modules/core/img/greentech/Green Tech Leed Cert.JPG" alt="">
                </a>
            </div>
            <div class="col-md-5">
                <h3>Contributes to LEED points and Green Building Certification </h3>
                <p>The U.S. Green Building Council’s rating system gives builders LEED points towards a Green Building Certification if Post Tension is used.</p>
            </div>
        </div>
    </div>
</section>