<section data-ng-controller="HomeController">
	<div class="slider">
		<img ng-repeat="slide in slides" class="slide"
		ng-hide="!isCurrentSlideIndex($index)" src="{{slide.image}}">		
	
		<a class="arrow prev" href="#!" ng-click="nextSlide()"></a>
	    <a class="arrow next" href="#!" ng-click="prevSlide()"></a>

		<nav class="nav">
	        <div class="wrapper">
	            <ul class="dots">
	                <li class="dot" ng-repeat="slide in slides">
	                    <a href="#" ng-class="{'active':isCurrentSlideIndex($index)}"
	                      ng-click="setCurrentSlideIndex($index);">{{slide.description}}</a></li>
	            </ul>
	        </div>
	    </nav>
    </div>
	<div class="container">
		<p>
			MB Southeast, LLC provides superior concrete contracting services throughout the southeastern United States, focusing on the multifamily housing construction industry.  We specialize in post-tension foundations and can meet all of your concrete needs.
		</p>
	</div>
	<div class="container">
		<div class="row">
		  <div class="col-sm-6 col-md-4">
		    <div class="thumbnail">
		      <img src="/modules/core/img/thumb.jpg" alt="...">
		      <div class="caption">
		        <p>Our experience while working with MB Southeast was truly exceptional.   Michael and Jeff brought expertise, experience and knowledge of the latest technology that produced outstanding results. </p>
		      </div>
		    </div>
		  </div>
		  <div class="col-sm-6 col-md-4">
		    <div class="thumbnail">
		      <img src="/modules/core/img/thumb.jpg" alt="...">
		      <div class="caption">
		        <p>They communicated well with all employees, were dependable, were always responsive to our needs, and addressed issues professionally.  From the smallest to the largest job, you can trust MB Southeast to deliver results.  You will be pleased with your decision to work with them.</p>
		      </div>
		    </div>
		  </div>
		  <div class="col-sm-6 col-md-4">
		    <div class="thumbnail">
		      <img src="/modules/core/img/thumb.jpg" alt="...">
		      <div class="caption">
		        <p>Our experience while working with MB Southeast was truly exceptional.   Michael and Jeff brought expertise, experience and knowledge of the latest technology that produced outstanding results. </p>
		      </div>
		    </div>
		  </div>
		</div>
	</div>
</section>
