<section>
	<div class="topSpace container">

        <!-- Portfolio Item Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Poured in Place Technical Site Walls
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Portfolio Item Row -->
        <div class="row">

            <div class="col-md-8">
                <img class="img-responsive" src="/modules/core/img/building walls/Building Walls Big 1 of 4.jpg" alt="">
            </div>

            <div class="col-md-4">
                <h3>Project Description</h3>
                <p>We offer engineering and installation of a wide range of poured in place technical walls.</p>
            </div>

        </div>
        <!-- /.row -->

        <!-- Related Projects Row -->
        <div class="row">

            <div class="col-lg-12">
                <h3 class="page-header">Related Projects</h3>
            </div>

            <div class="col-sm-3 col-xs-6">
                <a href="#">
                    <img class="img-responsive portfolio-item" src="/modules/core/img/building walls/Building Walls Big 1 of 4.jpg" alt="">
                </a>
            </div>

            <div class="col-sm-3 col-xs-6">
                <a href="#">
                    <img class="img-responsive portfolio-item" src="/modules/core/img/building walls/Building walls 2 of 4.jpg" alt="">
                </a>
            </div>

            <div class="col-sm-3 col-xs-6">
                <a href="#">
                    <img class="img-responsive portfolio-item" src="/modules/core/img/building walls/Building walls 3 of 4.jpg" alt="">
                </a>
            </div>

            <div class="col-sm-3 col-xs-6">
                <a href="#">
                    <img class="img-responsive portfolio-item" src="/modules/core/img/building walls/Building walls 4 of 4 and Home small 2 of 3 .jpg" alt="">
                </a>
            </div>

        </div>
        <!-- /.row -->

        <hr>
</section>