<section class="servicesTop">
    <div class="container">
    	<div class="row">
                <a href="#!/candss"><div class="col-lg-6 col-sm-6 text-center">
                        <div class="col-md-5">
                            <h3>Concrete and Steel structures 
                            </h3>
                        </div>
                        <div class="col-md-7"><img class="img-circle img-responsive img-center" src="/modules/core/img/cOs/Concrete over steel services home and Home small 3 of 3.jpg" alt=""></div>
                    </div>
                </a>
                <a href="#!/slabongrade"><div class="col-lg-6 col-sm-6 text-center">
                        <div class="col-md-7"> <img class="img-circle img-responsive img-center" src="/modules/core/img/csl/Conv Slab on Grade Services Home.jpg" alt=""></div>
                        <div class="col-md-5">
                            <h3>
                            Conventional Slab-on-Grade 
                            </h3>
                        </div>
                    </div>
                </a>
        </div>
        <div class="division"></div>
        <div class="row">
                 <a href="#!/pinpt"><div class="col-lg-6 col-sm-6 text-center">
                        <div class="col-md-5">
                            <h3>Poured in Place Technical Site Walls 
                            </h3>
                        </div>
                        <div class="col-md-7"><img class="img-circle img-responsive img-center" src="/modules/core/img/site walls/Site Walls services home.JPG" alt=""></div>
                    </div>
                </a>
                 <a href="#!/pouredwalls"><div class="col-lg-6 col-sm-6 text-center">
                   <div class="col-md-7"> <img class="img-circle img-responsive img-center" src="/modules/core/img/building walls/Building walls services screen.jpg" alt=""></div>
                    <div class="col-md-5">
                        <h3>Poured in Place Building Walls 
                        </h3>
                    </div>
                    </a>
                </div>
        </div>
    </div>
</section>