<section class="row" data-ng-controller="AuthenticationController">
      <form role="form" id="msform" name="userForm" data-ng-submit="signin()" novalidate autocomplete="off">
        <fieldset>
         <div class="form-group">
            <input type="text" id="username" name="username" ng-minlenght="5" placeholder="User Name" data-ng-model="user.username"/>
            <span ng-show="userForm.username.$error.minlength" class="help-block">Username is too short.</span>
         </div>
         <div class="form-group">
            <input type="password"  placeholder="Password" data-ng-model="user.password" />
         </div>
         <div>
           <input type="submit" name="submit" class="submit action-button" ng-disabled="userForm.$invalid" ng-click="" value="Submit"/>
         </div>
          <div data-ng-show="error" class="text-center text-danger">
            <strong data-ng-bind="error"></strong>
         </div>
         <div data-ng-show="error" class="text-center text-danger">
            <strong data-ng-bind="error"></strong>
         </div>
        </fieldset>
      </form>
</section>