<section class="row" data-ng-controller="AuthenticationController">
       <form role="form" id="msform" name="userForm" data-ng-submit="signup()" novalidate autocomplete="off">
       <!-- progressbar -->
       <ul id="progressbar">
         <li ng-repeat="step in steps" ng-class="{active: $index == getCurrentStepIndex()}"><a href="javascript:void(0)" ng-click="goToStep($index)">{{step}}</a></li>
       </ul>
       <div ng-switch on="selection">
         <!-- Step 1 -->
         <div ng-switch-when="Personal Details">
            <fieldset>
             <h2 class="fs-title">Personal Details</h2>
             
             <!-- First Name -->
             <div class="form-group">
                <input type="text" id="firstName" name="firstName" placeholder="First Name" required data-ng-model="user.firstName" />
                <span ng-show="userForm.firstName.$invalid && !userForm.firstName.$pristine" class="help-block">Your first name is required.</span>
             </div>

             <!-- Last Name -->
             <div class="form-group">
                <input type="text" id="lastName" name="lastName" placeholder="Last Name" data-ng-model="user.lastName" required />
                 <span ng-show="userForm.lastName.$invalid && !userForm.lastName.$pristine" class="help-block">Your last name is required.</span>
              </div>

              <!-- User Name -->
             <div class="form-group">
                <input type="text" id="username" name="username" ng-minlenght="5" placeholder="User Name" data-ng-model="user.username"/>
                <span ng-show="userForm.username.$error.minlength" class="help-block">Username is too short.</span>
             </div>
             <div class="form-group">
                  <input type="button" ng-disabled="userForm.fname.$invalid || userForm.lname.$invalid || userForm.username.$invalid" ng-click="incrementStep(user)" name="first_next" class="next action-button" value="Next" />
             </div>
             <div data-ng-show="error" class="text-center text-danger">
                <strong data-ng-bind="error"></strong>
             </div>
            </fieldset>
         </div>

         <!-- Step 2 -->
         <div ng-switch-when="Create your account">
            <fieldset>
             <h2 class="fs-title">Create your account</h2>
             <div class="form-group" ng-class="{ 'has-error' : userForm.email.$invalid && !userForm.email.$pristine }">
                <input type="email" id="email" name="email" placeholder="Email" data-ng-model="user.email" />
                <span ng-show="userForm.email.$invalid && !userForm.email.$pristine" class="help-block">Enter a valid email.</span>
             </div>
             <div class="form-group">
                <input type="password"  placeholder="Password" data-ng-model="user.password" />
                <input type="password" name="cpass" placeholder="Confirm Password" />
             </div>
             <div>
               <input type="button" ng-class="{disabled: !hasPreviousStep()}" name="previous" ng-click="decrementStep()" value="Previous" class="next action-button" />
               <input type="button" name="second_next" ng-disabled="userForm.$invalid" ng-class="{disabled: !hasNextStep()}" ng-click="incrementStep(user)" class="next action-button" value="Next" />
             </div>
              <div data-ng-show="error" class="text-center text-danger">
                <strong data-ng-bind="error"></strong>
             </div>
            </fieldset>
         </div>

         <!-- Step 3 -->
         <div ng-switch-when="Upload your Profile Picture">
          <fieldset>
           <h2 class="fs-title">Upload your Profile Picture</h2>
           <input type="file" ng-file-select="onFileSelect($files)" multiple>
            <div class="progress" style="margin-top: 20px;">
               <div class="progress-bar" progress-bar="uploadProgress" role="progressbar">
                 <span ng-bind="uploadProgress"></span>
                 <span>%</span>
               </div>
             </div>
            <input type="button" ng-class="{disabled: !hasPreviousStep()}" name="previous" ng-click="decrementStep()" value="Previous" class="next action-button"/>
           <input type="submit" name="submit" class="submit action-button" ng-disabled="userForm.$invalid" ng-click="" value="Submit" />
          </fieldset>
         </div>
       </div>
     </form>
</section>